
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("./resource/background.png")
}

.portfolio {
  font-family: 'Source Code Pro', monospace;
}

.card {
  background-color: rgba(0, 255, 0, .1) !important;
}

.btnLink {
  background-color: rgba(0, 149, 255, 0.544) !important;
  border-color: transparent !important;
}